body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.item-grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 512px;
  height: 512px;
}

.item-grid-item {
  display: flex;
  flex-wrap: wrap;
  width: 64px;
  height: 96px;
}

.item-grid-item img:nth-child(1) {
  width: 64px;
  height: 64px;
}

.item-grid-item img:nth-child(2) {
  width: 32px;
  height: 32px;
}

.item-grid-item img:nth-child(3) {
  width: 32px;
  height: 32px;
}